<?xml version="1.0" encoding="UTF-8" ?>

<!-- The default logging configuration logs only to the system console.       -->
<!-- This is not desired for deployed applications, see: logback.deployed.xml -->

<configuration debug="false">
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/disk2/applogs/iconnect_services.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <FileNamePattern>/disk2/applogs/iconnect_services.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
                        <timeBasedFileNamingAndTriggeringPolicy
                          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                          <!-- or whenever the file size reaches 50MB -->
                          <maxFileSize>20MB</maxFileSize>
                          </timeBasedFileNamingAndTriggeringPolicy>
                          <!-- keep 30 days' worth of history -->
                          <maxHistory>10</maxHistory>
                 </rollingPolicy>
                 <layout class="ch.qos.logback.classic.PatternLayout">
                        <Pattern>*%X{applicationName}* %date{ISO8601} %-5level [%thread] remoteAddress:%X{remoteAddress} customerId:%X{customerId} requestUri:%X{requestUri} %class.%method\(%file:%line\) - %msg %n</Pattern>
                </layout>
  </appender>

  <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    	<remoteHost>stgkibana</remoteHost>
    	<port>5000</port>
    	<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>
    
	<root>
		<level value="WARN" />
		<appender-ref ref="STASH" />
		<appender-ref ref="FILE" />
	</root>
  
  <logger name="org.hibernate.engine.StatefulPersistenceContext">
        <level value="ERROR"/>
  </logger>

	<logger name="com.minda.iconnect.sim.impl.SimServiceImpl">
        <level value="INFO"/>
  </logger>
	
  <logger name="com.minda.iconnect.web.honda.controller.OrdersController">
        <level value="INFO"/>
  </logger>

  <logger name="com.minda.iconnect.web.honda.controller.OrderStateController">
        <level value="INFO"/>
  </logger>

</configuration>

