<VirtualHost *:8181>
        DocumentRoot /disk2/site-apache-root
#        ServerName stage.smlsaarthi.com
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
<Directory /disk2/site-apache-root/>
        Options FollowSymLinks
        AllowOverride None
        FileETag INode MTime Size
        Require all granted
</Directory>
</VirtualHost>

<VirtualHost *:8181>
        DocumentRoot /disk2/site-apache-root/isuzu
        ServerName dev.smlsaarthi.com
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
<Directory /disk2/site-apache-root/isuzu>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>
#<Directory>
#Alias /isuzu_admin "/disk2/site-apache-root/isuzu_admin/"
#</Directory>
</VirtualHost>


<VirtualHost *:8181>
        DocumentRoot /disk2/site-apache-root/isuzu
        ServerName api.smlsaarthi.com
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
<Directory /disk2/site-apache-root/isuzu>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>
#<Directory>
#Alias /isuzu_admin "/disk2/site-apache-root/isuzu_admin/"
#</Directory>
</VirtualHost>


<VirtualHost *:8181>
        DocumentRoot /disk2/site-apache-root/ais140
        ServerName ais140.carot.com
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
<Directory /disk2/site-apache-root/ais140>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>
</VirtualHost>


<VirtualHost *:8181>
        DocumentRoot /disk2/site-apache-root/bajaj-web-admin/bajaj-web-admin
        ServerName bajajqa3.carot.com
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
<Directory /disk2/site-apache-root/bajaj-web-admin/bajaj-web-admin>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
</Directory>
</VirtualHost>

