rs.initiate()
sleep(8000)
{% for item in slave_dns %}
rs.add("{{ item }}:{{ mongo_port }}")
sleep(2000)
{% endfor %}
rs.addArb("{{ arbiter_dns }}:{{ mongo_port }}");
sleep(2000)
printjson(rs.status())
